/*animations*/
.card:hover {
    translate: 0px -20px;   /*this makes the cards lift up when hovered over*/
}

.card:hover .card-upper {
    background-color: rgb(255, 202, 67);
    color: #0F1017;
    padding-top:0;
}

.card:hover .card-lower {
    background-color: rgb(250, 187, 27);
    color: #0F1017;
}

.card:hover a{  /*when hovered over card only, these styles*/
    background-color: #EDE2F4;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 1px 1px 2px 0 rgb(14, 13, 13);   
}

.card:hover a:hover {   /*when hovered over the anchor tags : these styles applied*/
    color: #EDF2F4;
    background-color: rgb(27, 25, 23);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 1px 1px 3px 0.1px rgb(14, 13, 13);
    font-weight: 800;
    text-decoration: underline 2px;
}

.card:hover #most-popular{  /*displays the 'most popular' div when hovered over only.*/
    display: block;
    z-index: 9;             /*stacks at topmost*/
    max-width: 12vw;
    text-align: center;
    align-self: center;
    background-color: #29a3f5;
    color: #EDF2F4;
    font-weight: 800;
    font-size: 1.1em;
    margin-top: -30px;
    padding: 10px 40px;
    border-radius: 5px;
}
